body {
  margin: 0; 
  font-family: "Source Sans Pro", sans-serif; 
}

.header {
  padding: 0px 0px; 
  background-color: #a60303; 
  color: #FFF; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
  text-align: center;
}

.Pipe-Wrench {
  display: flex;
  justify-content: center;
}

.navbar {
  color: #FFF; 
  text-align: center; 
  align-items: center; 
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 100%; 
}

.navbar-brand {
  color: #FFF;  
  display: flex;  
  overflow: wrap; 
  word-wrap: break-word;
  font-size: 20px;
  justify-content: center;
  white-space: normal;
  text-align: center;
  display: flex;
  text-decoration: none; 
}

.dropdown {
  justify-content: center;
  text-align: right;
  display: flex;
  float: right;
}

.dropdown-menu {
  justify-content: right; 
  text-align: right;
  float: right; 
  background-color: #a60303; 
}

.dropdown-item {
  color: #FFF; 
}

.btn {
  color: #FFF; 
  text-decoration: none; 
  display: block; 
  transition: all 0.3s ease-out; 
} 

.hero-index {
  background-color: #c2c2c2; 
  padding: 10px 0px 50px 0px; 
  display: flex; 
  justify-content: center; 
  align-items: stretch;
  flex-wrap: wrap; 
  min-height: 50vh; 
  width: 100%; 
}

.hero {
  background-color: #c2c2c2; 
  padding: 60px 45px; 
  display: flex; 
  justify-content: center; 
  align-items: stretch;
  flex-wrap: wrap; 
  min-height: 100vh; 
  width: 100%; 
}

.hero-contact {
  background-color: #c2c2c2; 
  padding: 60px 45px; 
  display: flex; 
  justify-content: center; 
  align-items: stretch;
  flex-wrap: wrap; 
  min-height: 90vh; 
  width: 100%; 
}

.Index-main {
  background-color: #c2c2c2; 
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap; 
  padding: 20px; 
}

.hero-inner-about{
  max-width: 600px; 
  justify-content: center;
  text-align: center; 
} 

.about{
  background-color: #c2c2c2; 
  justify-content: center;
} 

.list-container {
  list-style-position: outside; 
}

.hero-inner-project{
  max-width: 600px; 
} 

.contact-info{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
} 

.contact{
  width: 80%; 
} 

.heading{
  padding: 0px; 
  margin: 0; 
  border: 0;
} 

.submit { 
  padding: 5px 0px 5px 0px; 
}

.button {
  background-color: #a60303; 
  color: #FFF; 
  text-decoration: none; 
  padding: 12px 20px; 
  border-radius: 8px; 
  font-size: 1.18rem; 
  display: inline-block; 
}

.button:hover {
  color: #d48e8e; 
  transform: rotate(6deg); 
} 

.features {
  background-color: #999999; 
  padding: 60px 45; 
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap; 
}

.grid {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.row {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap; 
  --bs-gutter-x: 0;
  --bs-gutter-y: 0; 
}

.features-main {
  background-color: #999999; 
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px; 
}

.card-header { 
  background-color: #a60303; 
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.card-body { 
  text-align: center; 
}

.footer {
  text-align: center; 
  padding: 1.5em; 
  background-color: #a60303; 
  color: #FFF; 
  font-size: .9rem; 
  margin: 0;
  display: flex; 
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.footer p {
  text-align: center; 
  padding: 1.5em; 
  background-color: #a60303; 
  color: #FFF; 
  font-size: .9rem; 
  margin: 0;
  display: flex; 
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}